body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(39, 45, 77, 255);
  overflow: hidden;
}

.btn {
  background-color: #14121260;
  border: 0;
  color: white;
  font-size: 1.5em;
  padding: 10px;
}
.btn:active {
  background-color: rgba(43, 41, 41, 60);
}

.prevSlide {
  position: sticky;
  left: 0;
}

.nextSlide {
  position: sticky;
  right: 0;
}

code {
  font-family: "Courier New", monospace;
}
.rock {
  --bcolor: hsl(0, 29.3%, 70%);
  --tcolor: hsl(0, 29.3%, 60%);
}
.ghost {
  --bcolor: hsl(240, 33%, 70%);
  --tcolor: hsl(240, 33%, 60%);
}
.electric {
  --bcolor: hsl(60, 100%, 75%);
  --tcolor: hsl(60, 80%, 45%);
}
.bug {
  --bcolor: hsl(35.7, 81.4%, 75%);
  --tcolor: hsl(35.7, 81.4%, 65%);
}
.poison {
  --bcolor: hsl(283.3, 81.4%, 75%);
  --tcolor: hsl(283.3, 81.4%, 65%);
}
.normal {
  --bcolor: hsl(0, 0%, 75%);
  --tcolor: hsl(0, 0%, 65%);
}
.fairy {
  --bcolor: hsl(350.1, 100%, 75%);
  --tcolor: hsl(350.1, 100%, 65%);
}
.fire {
  --bcolor: hsl(0, 77.1%, 65%);
  --tcolor: hsl(0, 77.1%, 55%);
}
.grass {
  --bcolor: hsl(117.8, 100%, 75%);
  --tcolor: hsl(117.8, 100%, 60%);
}
.water {
  --bcolor: hsl(204.8, 87.9%, 75%);
  --tcolor: hsl(204.8, 87.9%, 65%);
}
.ground {
  --bcolor: hsl(38.6, 41.7%, 75%);
  --tcolor: hsl(38.6, 41.7%, 65%);
}
.fighting {
  --bcolor: hsl(12.6, 61%, 75%);
  --tcolor: hsl(12.6, 61%, 65%);
}
.psychic {
  --bcolor: hsl(338.8, 80.4%, 75%);
  --tcolor: hsl(338.8, 80.4%, 65%);
}
.ice {
  --bcolor: hsl(193.8, 86.7%, 75%);
  --tcolor: hsl(193.8, 86.7%, 65%);
}
.dragon {
  --bcolor: hsl(250, 67%, 75%);
  --tcolor: hsl(250, 67%, 65%);
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  position: relative;
  overflow-x: auto;
  scroll-behavior: unset;
  scroll-snap-type: x mandatory;
  max-width: 100vw;
}
.all-container::-webkit-scrollbar {
  display: none;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 230px;
  height: 320px;

  padding: 10px;
  margin: 5px;
  border: 2px solid #efefef;
  border-radius: 30px;
  box-sizing: content-box;

  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  pointer-events: none;
  user-select: none;

  background: radial-gradient(circle at 50% 0, #fff 36%, var(--bcolor) 36%);
}
h3 {
  font-size: 16px;
}
p {
  font-size: 12px;
}
.thumb-container img {
  display: block;
  position: relative;
  height: 100px;
  max-width: 200px;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.thumb-container small {
  text-transform: capitalize;
}
.hp {
  width: 50px;
  background-color: white;

  border: solid 2px var(--bcolor);
  border-radius: 30px;
  margin-left: auto;

  padding: 4px;

  font-weight: 400;
  text-align: center;
  font-weight: bold;
}
.poke-img {
  max-width: 200px;
  padding: 5px;
  box-sizing: content-box;
}
.poke-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: var(--tcolor);
  width: 80px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
}

.poke-type p::first-letter {
  text-transform: uppercase;
}
.poke-name {
  font-weight: 400;
  text-align: center;
}
.poke-name::first-letter {
  text-transform: uppercase;
}
.poke-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  margin: 5px 5px 20px 5px;
}
.poke-stats p {
  margin-top: -15px;
  font-weight: 300;
  color: rgb(70, 70, 70);
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 510px;
  background-color: white;
}
